<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AKSDotNetCore.MvcApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="BlogAjax" asp-action="Index">BlogAjax</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="BlogHttpClient" asp-action="Index">HttpClient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="BlogRestClient" asp-action="Index">RestClient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="BlogRefit" asp-action="Index">Refit</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Apex Chart
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/ApexChart/PolarAreaChart">PolarArea Chart</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ChartJs
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/ChartJs/ColumnChart">Column Chart</a></li>
                        <li><a class="dropdown-item" href="/ChartJs/ScatterChart">Scatter Chart</a></li>
                        <li><a class="dropdown-item" href="/ChartJs/MixedChart">Mixed Chart</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Hight Charts
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/HighCharts/WithDataLabelsChart">With Data Labels Chart</a></li>
                        <li><a class="dropdown-item" href="/HighCharts/RadialBarChart">Radial Bar Chart</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CanvasJs
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/CanvasJs/BarChart">Bar Chart</a></li>
                        <li><a class="dropdown-item" href="/CanvasJs/SplineChart">Spline Chart</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>